<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>成功！</h1>
<p th:text="${v1}">v1默认值</p>
<p th:text="${john.father.name}">用户父亲姓名</p>
<hr/>
<div th:object="${john}">
    <p>ID: <span th:text="*{id}">id</span>.</p>
    <p>姓名: <span th:text="*{name}">name</span>.</p>
    <p>生日: <span th:text="*{birth}">birth</span>.</p>
    <p>生日format: <span th:text="*{#dates.format(birth, 'yyyy-MM-dd HH:mm:ss')}">birth</span>.</p>
    <p>父亲姓名: <span th:text="*{father.name}">father name</span>.</p>
    <p>父亲生日format: <span th:text="*{#dates.format(father.birth, 'yyyy-MM-dd HH:mm:ss')}">birth</span>.</p>
</div>

<hr/>

</body>
</html>